@import "../../styles/themeVariable.scss";
.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  .header-content {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  .header-button__locale {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
